
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --firstColor:rgba(17, 26, 32, 1);
    --secondColor:rgba(251, 175, 133, 1);
    --thirdColor: rgba(255, 255, 255, 1);
    --dayColor:rgba(72, 142, 246, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;   
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: var(--firstColor);
    width: 100%;
}
body.day{
    background: var(--dayColor);
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 850px;
    height: 44px;
    margin: 1rem auto;
}
.home-img{
    text-align: center;
}

#img-home{
    max-width: 850px;
    margin-left: 20px;
}

#frameHome{
    display: none;
}

.nav-bar-a{
    display: flex;
    justify-content: space-around;
    width: 500px;

}

.toggle-btn{
    color: var(--secondColor);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    margin-left: 2rem;
} 
.dropdown-nav{
    z-index: 999;
    box-shadow: 2px 0px 8px 0px rgba(251, 175, 133, 0.6);
    width: 0rem;
    height: 0rem;
    border-radius: 0.5rem;
    position: absolute;
    margin-left: 1.1rem;
    list-style: none;
    font-size: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    backdrop-filter: blur(5rem);
}

.dropdown-nav li a{
    border: 2px solid var(--secondColor);
    border-radius: 1.5rem;
    padding: 0.5rem;
    color: var(--thirdColor);
    font-size: 2rem;
}
#cambiarTema{
    margin: 1rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid var(--secondColor);
}

.logo{
    color: var(--thirdColor);
    font-size: 2rem;
    font-weight: 400;
    margin-left: 22px;
}

.logo span{
    color: var(--secondColor);
    font-weight:500;
}

a{
    color: var(--secondColor);
    font-size: 1rem;
    font-weight: 400;
}

a:hover{
    color: var(--thirdColor);
}


button{
    background: transparent;
    width: 2rem;
    border: none;
    cursor: pointer;
    color: var(--thirdColor);
}

button:hover{
    color: var(--secondColor);
}

#break1{
    text-align: center;
    margin-bottom: 3rem;
    opacity: 0;
}

.about{
    margin: 1px auto;
    max-width: 50rem;
}
.about h2{
    color: var(--thirdColor);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about-text{
    position: relative;
    text-align: center;
}

.about-text p{
    background: var(--thirdColor);
    color: var(--firstColor);
    font-size: 1.3rem;
    max-width: 50rem;
    margin: 1px auto;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 0px 8px 0px rgba(251, 175, 133, 0.6);
}
.about-text img{
    position: absolute;
    width: 140px;
    left: -3.4rem;
    bottom: 1.8rem;
}
.contact p{
    background: var(--thirdColor);
    color: var(--firstColor);
    max-width: 50rem;
    margin: 1rem auto;
    font-size: 1.3rem;
    padding: 0.4rem 0rem 0.4rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 0px 8px 0px rgba(251, 175, 133, 0.6);

}
.contact a{
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--thirdColor);
    border: solid 2.5px var(--secondColor);
    background: var(--secondColor);
    border-radius: 0.5rem;
    transition: .5s ease;
    padding: 0.2rem 2.4rem 0.2rem 0rem;
}
.contact a:hover{
    background: var(--thirdColor);
    color: var(--secondColor)

}

.break2{
    text-align: center;
    margin-bottom: 4rem;
    opacity: 0;
}
.skills h2{
    margin-bottom: 2rem;
    color: var(--thirdColor);
    margin-top: -2rem;
    font-weight: 400;
}
.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.skills-container{
    display: flex;
    justify-content: space-between;
    width: 57.2rem;
    color: var(--thirdColor);  
    transform: .5s ease;
}

.skill:hover{
    border:1px solid var(--secondColor);
    
}
.skill{
    padding: 1rem 1rem 1rem 1.2rem;
    width: 28rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(251, 175, 133, 0.3);
}

.skill .bar{
    overflow: hidden;
    background-color: rgba(255, 169, 122, 0.5);
    width: 24.3rem;
    height: 0.3rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
}
.skill li{
    font-size: 0.8rem;
}

.bar2{
    margin-left: -27.3rem;
    background-color: var(--secondColor);
    width: 27.3rem;
    height: 0.5rem;
    border-radius: 1rem;
    transform:translateX(0%);
    transition: .5s ease;
}

.skill:hover .html{
    transform: translateX(90%);
}
.skill:hover .css{
    transform: translateX(90%);
}
.skill:hover .js{
    transform: translateX(80%);
}
.skill:hover .java{
    transform: translateX(70%);
}
.skill:hover .ps{
    transform: translateX(90%);
}
.skill:hover .fi{
    transform: translateX(80%);
}
.skill:hover .mysql{
    transform: translateX(70%);
}
.skill:hover .git{
    transform: translateX(80%);
}

.skill li{
    list-style: none;
    margin: 0.6rem;
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--thirdColor);
    margin-top: 8rem;
}

.portfolio h2{
    margin-bottom: 2rem;
    font-weight: 400;
}

.portfolio-container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.portfolio-box{
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0px rgba(251, 175, 133, 0.5);
    border-radius: 0.8rem;
}
.portfolio-box img{
    width: 20rem;
    border-radius: 0.5rem;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
    
}


.portfolio-layer{
    position: absolute;
    background-color: var(--secondColor);
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0, .1),var(--secondColor));
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%); 
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
  
}

.portfolio-layer a{
   color: var(--thirdColor);
   font-size: 1rem;
   font-weight: 500;
   border: 1px solid var(--secondColor);
   padding: 0.4rem 0.7rem;
   border-radius: 0.3rem;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 22rem;
}

.social-links a{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid var(--secondColor);
    color: var(--thirdColor);
    background-color: var(--secondColor);
    padding: 0.4rem 4.1rem;
    border-radius: 0.7rem;
    font-size: 1.3rem;
    transition: .5s ease;
}

.social-links a:hover {
     background: var(--thirdColor);
     color: var(--secondColor);

}
footer{
    background: var(--secondColor);
    height: 8rem;
    margin-top: 12rem;
    text-align: center;
    padding: 3rem;
}

.footer-bar{
    position: relative;
    margin: 1px auto;
    max-width: 50rem;

}
.footer-bar img{
    position: absolute;
    width: 11rem;
    left: -4rem;
    bottom: -1.3rem;
}

.footer-bar a{
    padding: 2rem;
    font-weight: 400;
    color: var(--firstColor);
    height: 8rem;

}

.footer-bar a:hover{
    color: var(--thirdColor);
}

.footer-bar .a-perfil{
    padding-left: 0rem;
}


 /* -------------------------------------------------------------------------- */
 /*                               medias queries                               */
 /* -------------------------------------------------------------------------- */

@media  (max-width:1020px) {
    .portfolio-container{
        flex-direction: column;
    }
    .portfolio-box{
        margin: 10px auto;
        width: 50%;
    }
    .portfolio-box img{
        width: 100%;
    }
    .portfolio{
        margin-top: 4rem;
    }
    .portfolio h2{
        font-size: 1.3rem;
    }
    .skills-container{
        flex-direction: column;
    }
    .skill{
        margin: 15px auto;
    }
    .skills h2{
        margin-top: -3rem;
        font-size: 1.3rem;
    }
    .contact p{
        max-width: 38.7rem;
        padding: 0.4rem 0rem 0.4rem 0.4rem;
        font-size: 1rem;  
    }
    .contact a{
        font-weight: 100;
        font-size: 1rem;
        border: solid 2px var(--secondColor);
    }
    .about-text p{
        font-size: 1.1rem;
        max-width: 38.7rem;
    }
    .about-text img{
        position: absolute;
        width: 100px;
        left: 3rem;
        bottom: 2rem;
    }
    .about h2{
        font-size: 1.3rem;
    }
    #img-home{
        width: 700px;
        margin-left: 20px;
    }
    .nav-bar{
        width: 700px;
    }
    .nav-bar-a{
        width: 350px;
    }
    .social-links a{   
        padding: 0.3rem 3.5rem;
        border-radius: 0.5rem;
    }
    footer{
        margin-top: 8rem;
        width: 100%;
    }
    .footer-bar img{
        width: 8rem;
        left: 3rem;
    }
    
}
    @media (min-width:375px){
        .nav-bar{
            width: 100%;
        }
        .nav-bar-a{
            display: none;
        }
        .logo{
            margin-left: 0rem ;
        }
        #break1{
            width: 100%;
            opacity: 0;
        }
        .home{
            width: 100%;
        }
        #frameHome{
            display: block;
            width: 45%;
            margin: 2rem auto 0rem;
        }
        .toggle-btn{
            display: block;
        }
        .dropdown-nav.open{
            width: 92%;
            height: 70%;
        } 
        .about{
            width: 100%;
        }
        .about h2{
            text-align: center;
        }
        .about-text p{
            width: 90%;
            padding: 1rem 2.5rem 1rem 1rem;
        }
        .contact p{
            display: none;
        }
        #break2{
            opacity: 0;
        }

        .skills h2{
            text-align: center;
            
        }
        .skills{
            width: 100%;

        }
        .skills-container{
            width: 90%;
        }
        .skill{
            width: 100%;
        }
        .skill .bar{
            width: 280px;
        }
        .bar2{
            width: 365px;
        }
        .portfolio{
            width: 100%;
        }
        .portfolio h2{
            text-align: center;
        }
        .portfolio-container{
            width: 100%;
        }
        .portfolio-box{
            width: 90%;
        }
        .socials{
            width: 100%;
        }
        .social-links{
            width: 100%;
            padding: 0.5rem 2.5rem;
        }

        .footer-bar img{
            width: 6rem;
            left: 5.5rem;
            bottom: 2.2rem;
        }
        .footer-bar {
            width: 100%
        
        }
        .footer-bar a{
            padding: 0.7rem;
        }

        .about-text img{
            margin-bottom: -7rem;
            margin-left: 13rem;
            width: 6rem;
        }
        #img-home{
            display: none;
        }





        

    }